/* Reset default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a trendy background color */
body {
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark gray text */
    font-family: 'Roboto', Arial, sans-serif;
}

/* Style the header with a gradient background and bold text */
header {
    background: linear-gradient(to right, #ff6f61, #ffcc5c); /* Gradient from red to yellow */
    color: #ffffff; /* White text */
    padding: 20px;
    text-align: center;
}


/* Style the main content with a subtle gradient background */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #f5f5f5); /* Gradient from white to light gray */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft box shadow effect */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ff6f61; /* Red color for headings */
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333; /* Dark gray color for subheadings */
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Style links within the content with a smooth color transition */
a {
    color: #ff6f61; /* Red color for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffcc5c; /* Yellow color on hover */
}

/* Style the footer with a dark background and white text */
footer {
    background-color: #333; /* Dark background color */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 20px;
}

/* side nav bar


.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    background-color: #333; /* Dark gray background for menu */
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: #ffffff; /* White text */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #ff6f61; /* Red color on hover */
}

.content {
    margin-left: 250px;
    padding: 20px;
}
